#Autotools
build
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config*
!configure.ac
depcomp
install-sh
missing
stamp-h1
test-driver
.deps/
*.log
*.trs
ltmain.sh
libtool
.libs/

#C
*.o
*.la
*.lo
